#include "kibard.dtsi"

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix-transform = &default_transform;
    };

    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";

        rows = <4>;
        columns = <10>;

        map = <
            RC(0,5) RC(0,6) RC(0,7) RC(0,8) RC(0,9)
            RC(1,5) RC(1,6) RC(1,7) RC(1,8) RC(1,9)
            RC(2,5) RC(2,6) RC(2,7) RC(2,8) RC(2,9)
            RC(3,5) RC(3,6) RC(3,7) RC(3,8) RC(3,9)
        >;
    };
};
